
.loader {
  position: fixed;
  z-index: 99999;
  width: 120px;
  aspect-ratio: 1;
  background: linear-gradient(#f38ad3 0 0) bottom/100% 0% no-repeat #ccc;
  mask: 
    radial-gradient(circle at 60% 65%, #000 62%, #0000 65%) top left, 
    radial-gradient(circle at 40% 65%, #000 62%, #0000 65%) top right, 
    linear-gradient(to bottom left, #000 42%,#0000 43%) bottom left , 
    linear-gradient(to bottom right,#000 42%,#0000 43%) bottom right;
  mask-size: 50% 50%;
  mask-repeat: no-repeat;
  animation: l19 2s infinite linear;

  /* --- Centering --- */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes l19 {
  90%,100% { background-size:100% 100% }
}

